# {{.ProjectName}}

This project was created with frontforge.

## Tech Stack

- **Language**: {{.Language}}
- **Framework**: {{.Framework}}
- **Build Tool**: Vite
- **Styling**: {{.Styling}}
- **Routing**: {{.Routing}}
- **Testing**: {{.Testing}}
- **State Management**: {{.StateManagement}}
- **Data Fetching**: {{.DataFetching}}

## Getting Started

### Install dependencies
```bash
{{.PackageManager}} install
```

### Run development server
```bash
{{.PmRun}} dev
```

### Build for production
```bash
{{.PmRun}} build
```

### Run tests
```bash
{{.PmRun}} test
```

## Project Structure

{{.StructureExample}}

## Learn More

- [{{.Framework}} Documentation]({{.FrameworkDocURL}})
- [Vite Documentation](https://vitejs.dev)
